@page
@model RazorPage.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="/page1">COMMENCER SIMULATION</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
