@page
@model RazorPage.Pages.Page1Model

@{
    ViewData["Title"] = "Connaissance";
}

<h1>Vous avez la possibilité de pouvoir travailler en europe et ainsi gagner en mobilité et en opportunité!</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.ResidenceCountry" class="control-label"></label>
                <input asp-for="User.ResidenceCountry" class="form-control" />
                <span asp-validation-for="User.ResidenceCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.WorkCountry" class="control-label"></label>
                <input asp-for="User.WorkCountry" class="form-control" />
                <span asp-validation-for="User.WorkCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
